* {
  box-sizing: border-box;
}
body {
  color: #fff;
}
.wrap {
  position: relative;
  width: 100%;
  padding: 16px 16px 12px;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn1,
.btn2 {
  position: absolute;
  z-index: 10;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  translate: 0 -50%;
  border: none;
  top: 45%;
}
.wrap-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.item1 {
  background: linear-gradient(to right, rgb(138, 10, 255), rgb(96, 6, 255));
}
.item2 {
  background: linear-gradient(to right, rgb(104, 40, 250), rgb(255, 186, 164));
}
.item3 {
  background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));
}
.item4 {
  background: linear-gradient(to right, rgb(118, 18, 255), rgb(5, 178, 255));
}
.item5 {
  background: linear-gradient(to right, rgb(254, 33, 94), rgb(255, 148, 2));
}
.item6 {
  background: linear-gradient(to right, rgb(0, 126, 254), rgb(6, 195, 254));
}
.item-content {
  padding: 36px;
  width: 568px;
}
.item-content p {
  margin-bottom: 24px;
}
.item-content h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}
.item-btn {
  color: #fff;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  min-width: 124px;
  border: 2px solid #fff;
  padding: 4px 10px;
  width: max-content;
  transition: all ease 0.2s;
  text-align: center;
  border-radius: 16px;
}
.btn1 {
  left: 0;
}
.btn2 {
  right: 0;
}

.slideshow {
  height: 100%;
  overflow: hidden;
}
.slideshow .track {
  display: flex;
  width: 100%;
  height: 100%;
}
.slideshow .slide-item {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
.slide-item img {
  height: 100%;
}
.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pagination-dot {
  list-style: none;
  height: 8px;
  width: 32px;
  border-radius: 4px;
  background-color: #dce0e3;
  opacity: 1;
  transition: all 0.3s linear;
  cursor: pointer;
}
.pagination-dot:hover {
  scale: 1.2;
}
.pagination-dot.active {
  width: 50px;
  background-color: #9aa6af;
}
